//General
$text-color-dark-blue: #242E4C;
$text-color-dark-blue-light: #44578f;
$background-color-gray: #F5F5F5;
$background-color-gray-strong: #d4d3d3;
$background-color-gray-very-strong: #acacac;
$background-color-gray-rgba: rgba(245, 245, 245, 0.9);
$font-1: 'MyWebFont', 'Quicksand';
$font-2: 'MyWebFont', 'Montserrat';

//Navbar

//$navbar-text-color: #30333C;
$navbar-text-focus-color: #ff8700;
$navbar-mobile-background-color: #b6bac1;
$navbar-height: 71px;

//Gallery
