@import "config";
@import "utilities";
@import "./components/navbar";
@import "./components/ui-interface";
@import "./components/admin-interface";
@import "./components/main-page-items";
@import "./components/single-item";
@import "./components/shopping-cart";

@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font-1;
  color: $text-color-dark-blue;
}

.page-container {
  padding-top: $navbar-height;
  position: relative;
  min-height: 100vh;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

// .general-input {
//   margin-bottom: 10px;
// }


// @import "large-screen";
// @import "medium-screen";
// @import "small-screen";
// @import "extra-small-screen";