.add-new-item-container {
    margin: 0 auto;
    padding: 30px;
    height: 100%;

    #add-new-item-form label {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #add-new-item-form textarea {
        box-sizing: border-box;
        width: 100%;
    }

    .admin-panel-headline {
        font-size: 18px;
    }

    #add-new-item-form{
        margin-top: 20px;
    }

    #add-item-button {
        width: 150px;
    }
}

.order-management-container {
    display: none;
    margin: 0 auto;
    padding: 30px;
    min-height: 800px;
}