#shopping-cart-container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 50px;
    max-width: 1526px;
    min-height: 600px;

    .shopping-cart-info-box {
        display: flex;
        justify-content: space-between;

        #error-box {
            color: #ff6347;
            font-weight: 600;
        }
    }

    .table {

        a {
            text-decoration: none;
            margin-left: 10px;
        }

        .shopping-cart-image {
            width: 50px;
            height: 50px;
        }

        .item-quantity-box {
            margin-top: 5px;

            .shopping-cart-quantity {
                background-color: #eee;
                padding: 5px;
                width: 30px;
                text-align: center;
                display: inline-block;
            }

            .quantity-button {
                border: none;
                outline: none;
                cursor: pointer;
                background: transparent;
                font-size: 20px;
            }
        }

        .item-price-box {
            margin-top: 5px;
        }

        .total-price-box {

            .total-item-price {
                width: 100px;
                display: inline-block;
            }

            .shopping-cart-delete-button {
                border: none;
                outline: none;
                cursor: pointer;
                transition: .3s;
                background: transparent;

                i {
                    font-size: 30px;
                }
            }
    
            .shopping-cart-delete-button:hover {
                transform: scale(.96);
            }
        }
    }
    .shopping-cart-confirm-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #buy-button {
            padding: 0.5rem 3rem;
            border: none;
            background-color: #24ba07;
            color: #ffffff;
            font-size: 18px;
            cursor: pointer;
            border-radius: 10px;
            margin-right: 170px;
            transition: .3s;
        }

        #buy-button a {
            text-decoration: none;
            color: #ffffff;
         }
         
         #buy-button:hover {
             background-color: #1e9b06;
         }
     
    }

    #message-box {
        margin-top: 30px;
        font-size: 20px;
        text-align: center;
        color: rgb(255, 99, 71);
    }
}

#checkout-container {
    margin: 50px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 50px;
    max-width: 1526px;
    min-height: 600px;
    display: none;

    #price-container {
        width: 40%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F7EEE9;

        #price-container-title {
            font-size: 50px;
            font-weight: bold;
            margin: 10px 0;
        }
        
        #price-container-text {
            font-size: 30px;
            font-weight: bold;
            margin: 10px 0;
            color: #777676;
        }
        
        #checkout-image {
            width: 250px;
            height: 250px;
        }
        
        #price-container-second-text {
            font-size: 20px;
            margin-top: 10px;
            color: #777676;
        }
        
        #price-container-total {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 100px;
            color: #474747;
        }
    }

    #credit-card-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3rem;

        #credit-card-container-text {
            font-size: 30px;
            font-weight: bold;
            margin: 10px 0;
            color: #777676;
        }
        
        #cardName {
            width: 100%;
            height: 40px;
            font-size: 20px;
            line-height: 40px;
            padding: 0 2rem;
        }
        
        .card-input-paceholder {
            font-size: 16px;
            font-weight: 600;
            color: #777676;
        }
        
        #card-expiration-cvc-container {
            display: flex;
        }
        
        .card-form-selector {
            width: 80px;
            height: 50px;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #cecac8;
        }
        
        #card-cvc-group {
            padding-left: 10px;
        }
        
        #checkout-submit-button {
            width: 90%;
            height: 70px;
            border-radius: 5px;
            display: block;
            margin: 20px auto;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            outline: none;
            cursor: pointer;
            transition: .3s;
            background-color: #E00025;
        }
        
        #checkout-submit-button:hover {
            transform: scale(.98);
        }

        #back-to-shopping-cart-button {
            margin: 10px auto;
            display: block;
            cursor: pointer;
            padding: 5px 20px;
            outline: none;
        }
        
        #checkout-message {
            font-size: 26px;
            font-weight: bold;
            color: #24ba07;
        }
    }
}